:root {
  --bg: #222020;
  --accent: #009DFF;
}

/* General page setup */
body {
  margin: 0;
  font-family: "Sansation", system-ui, sans-serif;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #000000;
  border-bottom: 5px solid var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  z-index: 100;
}

.left {
    width: 28vw;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF
}

.headerbuttons {
    display: flex;
    gap: 10px;
    width: 70vw;
    height: 70%;
}

.headerbutton{
    background: #000000;
    border: 4px solid var(--bg);
    color: #FFFFFF;
    padding: 8px 12px;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    width: -webkit-fill-available;
}

.headerbutton :hover{
    background: var(--bg);
}

/* Layout container */
.container {
  display: flex;
  flex: 1;
  margin-top: 80px;
  overflow: hidden;
}

/* Sidebar */
aside {
  width: 28vw;
  margin-left: 0.5vw;
  background: var(--bg);
  border-right: 3px solid var(--accent);
  padding: 10px;
  overflow-y: auto;
}

.sidebarheader{
  text-align: center;
  margin-bottom: 10px;
  margin-right: 0.5vw;
}

h3{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

summary{
    font-size: 25px;
    padding-top: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

summary:hover{
    cursor: pointer;
    color: var(--accent);
}

li{
    font-size: 20px;
    color: #FFFFFF;
}

li:hover{
    cursor: pointer;
    color: var(--accent);
    text-decoration: underline;
}

/* Main content */
main {
  flex: 1;
  padding: 0.75vw;
  box-sizing: border-box;
  display: ruby;
  overflow-y: auto;
  overflow-x: hidden;
}

.ContentTitle{
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.ContentBetweenTitle{
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent);
  margin-top: 40px;
}

.ContentFull{
  width: 100%;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 10px;
}

.ContentRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.ContentWimg{
  width: 65%;
  font-size: 20px;
  color: #FFFFFF;
  vertical-align: top;
  padding-left: 10px;
}

.ContentIMGcontainer{
  width: 30%;
  border: 4px solid var(--accent);
  border-radius: 8px;
  overflow: hidden;
}

.ContentUimg{
  width: 25%;
  font-size: 20px;
  color: #FFFFFF;
}

.ContentWquick{
  width: 60%;
  padding-left: 10px;
}

.Quickbox{
  width:40%;
}

/* TABLE------------------------------------------------------------------------------------- */

.ContentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 4px solid var(--accent);
  border-radius: 8px;
  overflow: hidden;
}


.TableHead{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 35px
}

.TableChild{
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
}

.TableFirst{
  font-weight: bold;
}

.ContentTable th,
.ContentTable td {
  border: 1px solid #000000;
  padding: 6px 10px;
}

.ContentUTable{
  width: 100%;
  font-size: 16px;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
  margin: 0;
  color: #FFFFFF;
}

/* SCROLLBAR--------------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 7px;
  border: 2px solid var(--accent);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}

/* 404--------------------------------------------------------------------------------------- */

h4{
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  width: 100%;
  font-size: 200px;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
}

h5{
  width: 100%;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}